<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>

    <!-- подключаю css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Вход в систему</h1>

    <form method="POST" action="/login"> 

         {% if message %}
        <p class="{{ 'success' if 'успешно' in message else 'error' }}">
            {{ message }}
        </p>
    {% endif %}

        <label for="login">Логин:</label><br>
        <input type="text" id="login" name="username" required><br><br>
        
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Войти</button>
    </form>
</body>
</html>